@import '../../styles/base/mixins';
@import '../../styles/base/variables';

.card {
	background-color: $color-grey-light-1;
	padding: 1.5rem 3rem;
	border-radius: 5px;
	word-break: break-all;
}

.label {
	color: $color-grey-dark-2;
	padding-bottom: 1rem;
}
