@import '../../styles/base/mixins';
@import '../../styles/base/variables';

.list {
  padding: 2rem 0;
}

.listItem {
  font-size: $font-size-large;
  color: #fff;
  margin-bottom: .5rem;
  display: flex;
  align-items: center;

  &::before {
    content: '>';
    width: 3rem;
    height: 3rem;
    @include flexCenter;
    color: $color-grey-light-4;
  }
}