@import '../../styles/base/mixins';
@import '../../styles/base/variables';

.container {
  @include containerStyle;
  min-height: calc(100vh - #{$container-margin-vertical * 2});
}

.title {
  color: $color-grey-dark-2;
  font-size: 4rem;
  text-transform: uppercase;
}